<!-- Begin Team List-->
<section id="team" class="team">
    <h1>The Data4MDE workshop will be postponed to STAF 2021.</h1>
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1 text-center">
            <h4 class="text-left animated hiding appear-animation-trigger" data-animation="fadeInUp" data-delay="0">Important Dates</h4>
                <div class="text-left post-body">{{ site.aboutUs }}
                    <ul>
                        <li><strong>Paper submission:</strong> <span style="text-decoration: line-through;">May 4, 2020</span></li>
                        <li><strong>Notification to authors:</strong>  <span style="text-decoration: line-through;">May 25, 2020</span></li>
                        <li><strong>Camera ready version:</strong>  <span style="text-decoration: line-through;">June, 8, 2020</span></li>
                        <li><strong>Workshop date:</strong>  <span style="text-decoration: line-through;">June 22, 2020</span></li>
                    </ul>
                </div>
            <!--</div>-->
            
        </div>
    </div>
</section>
<!-- End Team List -->





