<!-- Begin Team List-->
<section id="team" class="team">
    <h1>The Data4MDE workshop will be postponed to STAF 2021.</h1>
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1 text-center">
            <h4 class="text-left animated hiding appear-animation-trigger" data-animation="fadeInUp" data-delay="0">Important Dates</h4>
                <div class="text-left post-body">{{ site.aboutUs }}
                    <ul>
                        <li><strong>Abstract Submission:</strong> <span>April, 16 2021</span></li>
                        <li><strong>Paper submission:</strong> <span>April, 23 2021</span></li>
                        <li><strong>Notification to authors:</strong>  <span>May, 28 2021</span></li>
                        <li><strong>Camera ready version:</strong>  <span>June, 15 2021</span></li>
                        <li><strong>Workshop date:</strong>  <span>June 2021 (not yet determined; between June 21 and June 25) </span></li>
                    </ul>
                </div>
            <!--</div>-->
            
        </div>
    </div>
</section>
<!-- End Team List -->


