<!-- Begin Team List-->
<section id="team" class="team">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1 text-center">
            <h4 class="text-left animated hiding appear-animation-trigger" data-animation="fadeInUp" data-delay="0">Important Dates</h4>
                <div class="text-left post-body">{{ site.aboutUs }}
                    <ul>
                        <li>Paper submission: May 4, 2020</li>
                        <li>Notification to authors: May 25, 2020</li>
                        <li>Camera ready version**: ?</li>
                        <li>Workshop date**: One day selected 22-26 June, 2020</li>
                    </ul>
                </div>
            <!--</div>-->
            
        </div>
    </div>
</section>
<!-- End Team List -->





